.row{
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 4%;
  background-image: url('src\assets\Images\SignUp_&_in.jpg');
}
.mat-stepper-vertical {
    margin-top: 8px;
  }
  .mat-mdc-form-field {
    margin-top: 16px;
    width: 80%;
  }
.ng-tns-c8-0 {padding: 7% 0%;
  color: white;
  background: none;}
h4{
    font-family: 'Bungee Spice', cursive;
    padding-left: 36%;
}
.Label{ 
    font-size: 38px;;
    padding: 5% 0% 1% 43%;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
}
button{margin: 0px 10px;}